<section class="gradient-form h-full w-full">
    <div class="mx-auto h-full p-10">
      <div
        class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
        <div class="w-full">
          <div
            class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
            <div class="g-0 lg:flex lg:flex-wrap">
              <!-- Left column container-->
              <div class="px-4 md:px-0 lg:w-6/12">
                <div class="md:mx-6 md:p-12">
                  <!--Logo-->
                  <div class="">
                    <h4 class="mb-12 mt-1 pb-1 text-6xl font-semibold">
                      Welcome to Abantu Community
                    </h4>
                  </div>

                  <p class="text-2xl">
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.
                  </p>
  
                </div>
              </div>
  
              <!-- Right column container with background and description-->
              <div
                class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none">
                <div class="px-4 py-6  md:mx-6 md:p-12">
                    <img src="/src/assets/images/coworking-young-woman-doing-online-shopping.gif" alt="Flowers in Chania" width="500" height="600">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
